RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{HTTP_HOST} ^easypassword.ml$ [NC,OR] RewriteCond %{HTTP_HOST} ^easypassword.ml$
RewriteCond %{REQUEST_URI} !home/
RewriteRule (.*) /home/$1 [L]
