#menu:hover{
    font-size: 18px;
    color: #ffffff;
}

.margin_conteudo{
    margin-top: 15px;
}

.footer{
    bottom:0;
    /*width: 100%;*/
    margin-top: 140px;
    margin-bottom: 50px;
}

#bcs:hover{
    font-size: 17px;
}

.field {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.15);
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
    width: 90%;
    margin: 0 auto 15px;
    padding: 25px;
}
@media (max-width: 400px) {
    .footer{
        margin-top: 100px;
    }

    .container .row .col-sm{
        margin-bottom: 40px;
    }
}